<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="/">Home</a></li>
                <li class="nav__item"><a class="active" href="/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="main__title">Our Users</h1>
        <ul class="main__list">
            <li class="main__user">John Doe</li>
            <li class="main__user">Jane Doe</li>
            <li class="main__user">Alice Smith</li>
            <li class="main__user">Bob Smith</li>
        </ul>
    </main>
    
</body>
</html>